<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgh.www.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fgh.www.pojo.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="descr" property="descr" />
        <result column="cover" property="cover" />
        <result column="tags" property="tags" />
        <result column="user_id" property="userId" />
        <result column="date" property="date" />
        <result column="read_count" property="readCount" />
        <result column="category_id" property="categoryId" />
    </resultMap>

</mapper>
