<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgh.www.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fgh.www.pojo.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="pid" property="pid" />
        <result column="root_id" property="rootId" />
        <result column="time" property="time" />
        <result column="fid" property="fid" />
        <result column="module" property="module" />
    </resultMap>

</mapper>
